estrutura.de.dados/.classpath
estrutura.de.dados/.settings
estrutura.de.dados/.project
estrutura.de.dados/bin
# Ignorar a pasta bin
.metadata/
/bin/

condicionais/bin

condicionais/.classpath
# Ignorar arquivos de configuração do Eclipse

condicionais/.project
.classpath

condicionais/.settings/
.project

variaveiseoperadores/.classpath
.settings/

vetores.matrizes/.classpath/.project/.settings/.bin
variaveiseoperadores/.project

variaveiseoperadores/.settings/
collection/.classpath .project/.settings/ .bin
