.gitignore

.condicionals/.classpath 

.condicionals/.project 

.condicionals/.settings/ 


.variaveiseoperadores/.classpath 

.variaveiseoperadores/.project 

.variaveiseoperadores/.settings/ 


.metadata/

